In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn import linear_model
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
                         
from sklearn.metrics import mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split

In [5]:
blogers=pd.read_csv('bloggers_price.csv',encoding='utf-8',sep=';')
blogers.head()

,bloger,followers,photo_view,video_view,sories_view,price,price_video,price_stories,username
0,Гусейн Гасанов,7200000,5000000,5000000,3400000,715000,990000,230000,gusein.gasanov
1,Михаил Литвин,3800000,550000,4000000,2300000,300000,1000000,250000,mikhail_litvin
2,Ян ГО,3170000,800000,1000000,380000,150000,300000,90000,yan_gordienko
3,Татарка (Абрамова Лилия),3100000,1000000,2000000,300000,330000,570000,90000,tatarkafm
4,Марина Федункив,2800000,1000000,700000,150000,286000,430000,90000,marina_phedunkiv

In [6]:
X=blogers[['followers','photo_view','video_view','sories_view']]
y=blogers['price']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=42)
reg = LinearRegression().fit(X_train, y_train)
reg.coef_

array([ 0.0590671 ,  0.06052677,  0.00774241, -0.01099433])

In [11]:
y_pred=reg.predict(X_test)
mean_squared_error(y_test, y_pred)

1920440799.790841

In [12]:
regridge=linear_model.Ridge(alpha=0.5)
regridge.fit(X_train,y_train)

Ridge(alpha=0.5, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [14]:
y_predridge=regridge.predict(X_test)
mean_squared_error(y_test,y_predridge)

1920440799.7904317

In [15]:
reglasso = linear_model.Lasso(alpha=0.1)
reglasso.fit(X_train,y_train)

Lasso(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)

In [16]:
y_reglasso=reglasso.predict(X_test)
mean_squared_error(y_test,y_reglasso)

1920440799.7599516

In [18]:
reg.score(X_test,y_pred)

1.0

In [25]:

y=blogers['price']

blogers['like_perc'] = blogers.followers/(blogers.photo_view+blogers.video_view+blogers.sories_view)
X=blogers[['followers','like_perc']]

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=42)
reg = LinearRegression().fit(X_train, y_train)

In [27]:
y_pred=reg.predict(X_test)
mean_squared_error(y_test, y_pred)

1540294730.6000152

In [28]:
reg.score(X_test,y_pred)

1.0

In [30]:
clear

0      7200000
1      3800000
2      3170000
3      3100000
4      2800000
5      2500000
6      2500000
7      2300000
8      2600000
9      2100000
10     2300000
11     1900000
12     1800000
13     1700000
14     1600000
15     1545000
16     1600000
17     1900000
18     1500000
19     1445000
20     1600000
21     1400000
22     1500000
23     1320000
24     1300000
25     1200000
26     1200000
27     1200000
28     1300000
29     1200000
        ...
77      204000
78      220000
79      229000
80      215000
81      201000
82      189000
83      183000
84      182000
85      156000
86      155000
87      149000
88      155000
89      145000
90      149000
91      154000
92      145000
93      145000
94      136000
95      126000
96      130000
97      129000
98      117000
99      121000
100     111000
101      83000
102      62200
103      55000
104      40000
105      28000
106      27400
Name: followers, Length: 107, dtype: int64